.overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
    z-index: 15;
    display: flex;
    justify-content: flex-end;
}
